<h1>Your latest mood analyzis</h1>

<div class="box-result">
  {{#each user}}
  {{>eachanalizys}}
  {{/each}}
</div>
<br>
<div class="row">
<a href="" class="btn btn-primary mood" role="button">Go With Selected Mood</a>
<a href="newanalizys" class="btn btn-primary mood" role="button">Go With New Mood</a>
</div>