    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/backlit-blur-close-up-210224.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(/images/background-beach-beautiful-301375.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(/images/art-artistic-celebration-327509.jpg);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center align-content-center main-phrase" style="background-color:#66d7d7;">
        <div class="container d-flex align-items-center align-content-center"><strong class="d-flex justify-content-center align-items-center align-content-center" style="font-size:100%;">Social Mood Analyzer is a platform who uses artificial intelligence to understand your fellings and suggest events related with your mood.<br></strong></div>
    </div>
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">Our users love us! Read what they have to say below.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Just Amazing, I changed my sex based on my result</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="assets/img/wilkor.jpg">
                        <h5 class="name">Wilkor Almeida</h5>
                        <p class="title">IronPet</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Best experience of my life! Life change, forget everything.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="assets/img/fred.jpg">
                        <h5 class="name">Fred Conti</h5>
                        <p class="title">Ensino Now!</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">I love it. Amazing service!!! I tested with all my friends.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="assets/img/pp.jpg">
                        <h5 class="name">Sany Chernizon</h5>
                        <p class="title">Trendstorm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     