<div class="main-page-containeer">
  <div class="row"></div>
  <div class="row-containeer">
    <img src="../images/Logo.png" class="main-image">
    <div class="btn-containeer">
      <div class="row"></div>
      <div class="row-btn">
        <a href="/login/twitter" class="btn btn-primary" role="button">Login with Twitter</a>
        <a href="/newevent" class="btn btn-primary" role="button">Register your Event</a>
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>