<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S.M.A.</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="/assets/css/Simple-Slider-1.css">
  <link rel="stylesheet" href="/assets/css/Simple-Slider.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/Testimonials.css">
  <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
</head>

<body>
  <div style="background-color:#a25555;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color:#3a75c4;">
      <div class="container"><a class="navbar-brand" href="/analizys" style="color:#eef4f7;">Social Mood Analyzer</a><button
          class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
            navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" role="presentation"><a class="nav-link" href="/newevent" style="color:#eef4f7;">Create
                Event</a></li>
          </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button"
              href="/logoff">Logoff</a></span>
        </div>
      </div>
    </nav>
  </div>

  {{{ body }}}

  <div class="flex-column footer-basic" style="background-color:#3a75c4;">
    <footer>
      <div class="d-flex justify-content-center align-items-center align-content-center social"><a href="#"><i
            class="icon ion-social-github"></i></a></div>
      <ul class="list-inline d-flex justify-content-center">
        <li class="list-inline-item"><a href="/#">Home</a></li>
        <li class="list-inline-item"><a href="/newevent">Create Event</a></li>
        <li class="list-inline-item"><a href="/logoff">Logoff</a></li>
      </ul>
      <p class="copyright">Projeto IronHack 2019</p>
    </footer>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>